@use "../../styles/variables.scss" as *;

.content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  flex: 1 1 auto;
  transition: width 0.3s;
  height: 100%;
  width: 100%;

  font-size: 1rem;
}

.products {
  height: calc(100% - 4rem);
  overflow-y: auto;
}

.products-container {
  background-color: $brand-yellow;
  margin-left: 15rem;
  margin-right: 15rem;
  min-height: 100%;
}
@media (max-width: 900px) {
  .products-container {
    margin-left: 0;
    margin-right: 0;
  }
}

.cart-sidebar {
  width: 22rem;
  background: #ffffff;
  border-left: 1px solid #eee;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.04);
  transition: transform 0.3s, width 0.3s;
  transform: translateX(100%);
  position: relative;
  z-index: 10;
  height: 100%;
  overflow-y: auto;
}

.cart-sidebar.visible {
  transform: translateX(0);
}

@media (max-width: 900px) {
  .cart-sidebar {
    width: 100vw;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
  }
}
